HTML {
  font-size: 10px;
}
BODY {
  margin: 0;
  padding: 0;
  font: 16px/1.4 Trebuchet MS, Arial, sans-serif;
}

/* LINKS
--------------------------------------------- */
A,
A:visited {
  color: hsl(200,60%,50%);
}

@media ( min-width: 800px ) {
  A,
  A:visited {
    color: hsl(200,70%,40%);
  }
}

@media ( min-width: 1000px ) {
  A,
  A:visited {
    color: hsl(200,80%,30%);
  }
}

/* HEADERS
--------------------------------------------- */

H2:first-child {
  margin-top: 0;
}

/* LAYOUT
--------------------------------------------- */

.page-wrapper {
  max-width: 100%;
  padding: 2rem 1rem;
  background: #FFF;
  box-shadow: 0 3px 7px 3px hsla(0,0%,0%,.4);
  transition: all 1s;
}

@media ( min-width: 500px ) {
  .page-wrapper {
    padding: 2rem 1.5rem;
  }
}

@media ( min-width: 800px ) {
  .page-wrapper {
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 2rem;
  }
}

@media ( min-width: 1000px ) {
  .page-wrapper {
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* HEADER
--------------------------------------------- */

.page-header {
  margin-bottom: 3rem;
  padding: 1rem;
  box-sizing: border-box;
  text-align: center;
  border-radius: 15px;
  box-shadow: inset 0 3px 7px 3px hsla(0,0%,0%,.4);
  text-shadow: 0 3px 5px hsla(0,0%,0%,.4);
}

.page-title {
  color: #FFF;
}
.page-nav A {
  color: #FFF;
}

/* CONTAINER
--------------------------------------------- */

.page-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 3rem 1rem;
}

@media ( min-width: 800px ) {
  .page-container {
    flex-direction: row;
  }
}

.page-main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@media ( min-width: 600px ) {
  .page-main {
    flex-direction: row;
  }
}

@media ( min-width: 800px ) {
  .page-main {
    flex-direction: column;
    justify-content: flex-start;;
  }
}

.section {
  margin-bottom: 3rem;
}

@media ( min-width: 600px ) {
  .section {
    max-width: 47%;
  }
}

@media ( min-width: 800px ) {
  .section {
    max-width: 100%;
    margin-bottom: 2rem;
  }
  .section:last-child {
    margin-bottom: 0;
  }
}

.section__title {
  font-size: 1.2em;
  margin-bottom: .75em;
}

@media ( min-width: 800px ) {
  .section__title {
    font-size: 1.5em;
  }
}

/* ASIDE
--------------------------------------------- */

.page-aside {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  flex-direction: column;
  border: 0 solid #CCC;
}

@media ( min-width: 500px ) {
  .page-aside {
    flex-direction: row;
    padding-top: 3rem;
    border-width: 1px 0 0;
  }
}


@media ( min-width: 800px ) {
  .page-aside {
    width: 30%;
    flex-direction: column;
    margin: 0;
    margin-left: 2rem;
    padding-top: 0;
    padding-left: 2rem;
    border-width: 0 0 0 1px;
    font-size: .9em;
    color: #999;
  }
}

.page-aside__decor {
  order: -1;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  padding: 1.5rem;
  border-radius: 15px;
  box-shadow: inset 0 3px 7px 3px hsla(0,0%,0%,.4);
}

.page-aside__decor::after {
  content: '';
  flex-grow: 1;
  min-height: 5rem;
  width: 100%;
  min-width: 10rem;
  background: url(http://colourlovers.com.s3.amazonaws.com/images/patterns/2974/2974842.png);
  border-radius: 10px;
  box-shadow: 0 3px 7px 3px hsla(0,0%,0%,.4);
}

@media ( min-width: 500px ) {
  .page-aside__decor {
    margin-right: 2rem;
    margin-bottom: 0;
  }
  .page-aside__decor::after {
    min-height: 10rem;
    background: url(http://colourlovers.com.s3.amazonaws.com/images/patterns/2974/2974892.png);
  }
}
@media ( min-width: 800px ) {
  .page-aside__decor {
    order: 0;
    margin-right: 0;
    margin-top: 1rem;
    padding: 2rem;
  }
  .page-aside__decor::after {
    background: url(http://colourlovers.com.s3.amazonaws.com/images/patterns/2974/2974872.png);
  }
}

@media ( min-width: 1000px ) {
  .page-aside__decor::after {
    min-height: 12rem;
    background: url(http://colourlovers.com.s3.amazonaws.com/images/patterns/2974/2974839.png);
  }
}

/* FOOTER
--------------------------------------------- */

.page-footer {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.page-footer:before {
  content: '';
  display: block;
  height: 2rem;
  margin-bottom: 2rem;
  border-radius: 15px;
  box-shadow: inset 0 3px 7px 3px hsla(0,0%,0%,.4);
}

.page-footer__links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 1rem;
}

/* BACKGROUNDS
--------------------------------------------- */

BODY,
.page-header,
.page-footer:before,
.page-aside__decor {
  background-color: hsl(180,60%,40%);
  background-image:
    linear-gradient(to right,
      hsla( 0,100%,100%,.05) 30%, transparent 30%),
    linear-gradient(to right,
      hsla( 0,100%,100%,.07) 40%, transparent 40%),
    linear-gradient(to right,
      hsla( 0,100%,100%,.1) 50%, transparent 50%);
  background-size: 31px 100%, 37px 100%, 47px 100%;
  background-repeat: repeat;
  background-position: 50% 0;
  transition: background-color 1s;
}

@media ( min-width: 800px ) {
  BODY,
  .page-header,
  .page-footer:before,
  .page-aside__decor {
    background-color: hsl(190,70%,35%);
  }
}

@media ( min-width: 1000px ) {
  BODY,
  .page-header,
  .page-footer:before,
  .page-aside__decor {
    background-color: hsl(200,80%,30%);
  }
}
