/* STATES & MODES
--------------------------------------------- */

HTML[data-state="off"] {
  background: none;
}

HTML[data-state="off"] BODY {
  opacity: 1 !important;
  filter: none;
}


BODY[data-filter="invert"] {
  filter: invert(1);
}

/* CONTROLS
--------------------------------------------- */

.controls-panel {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  min-width: 175px;
  padding: 5px;
  box-sizing: border-box;
  border: 2px solid hsla(0,0%,0%,.25);
  border-radius: 5px;
  background: hsla(0,0%,100%,.9);
  box-shadow: 0 0 5px hsla(0,0%,0%,.5);
  font: 14px/1.2 Arial, sans-serif;
  text-transform: none;
  outline: none;
  color: #000;
}

.controls-panel__control {
  margin-right: 5px;
  padding: 3px;
  border: 2px solid hsla(0,0%,0%,.25);
  border-radius: 5px;
  outline: none;
  vertical-align: middle;
  font: inherit;
}
.controls-panel__control:focus {
  box-shadow: 0 0 0 3px hsl(75,100%,45%);
}
.controls-panel__control:disabled {
  background: transparent;
  opacity: .35;
  cursor: default;
}

.controls-panel__control--button {
  padding-left: 5px;
  padding-right: 5px;
  color: hsla(0,0%,0%,.9);
  cursor: pointer;
}
.controls-panel__control--button:enabled {
  background: yellowgreen;
  box-shadow: 0 2px 4px hsla(0,0%,0%,0.4) inset,
              0 -4px 4px hsla(90,100%,70%,1) inset;
}

.controls-panel__control--button:enabled:focus {
  background: yellowgreen;
  box-shadow: 0 2px 4px hsla(0,0%,0%,0.4) inset,
              0 -4px 4px hsla(90,100%,70%,1) inset,
              0 0 0 3px hsl(75,100%,45%);
}

.controls-panel__control--button[data-state-num="0"]:enabled {
  background: #DDD;
  box-shadow: none;
  opacity: .8;
}

.controls-panel__control--number {
  max-width: 2.7em;
  padding-right: 0;
  box-sizing: content-box;
  text-align: center;
}
.controls-panel__control--number:focus {
  border-color: hsla(0,0%,0%,.35);
}

.controls-panel__control--drag-n-drop {
  position: relative;
  width: 19px;
  min-height: 1.8em; /* IE10 fixes */
  margin: 0;
  padding: 0;
  background: transparent;
  cursor: move;
}

.controls-panel__control--drag-n-drop:active {
  background: yellowgreen;
  box-shadow: 0 2px 4px hsla(0,0%,0%,0.4) inset,
              0 -4px 4px hsla(90,100%,70%,1) inset,
              0 0 0 3px hsl(75,100%,45%);
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grab;
}


.controls-panel__control--drag-n-drop::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background:hsla(0,0%,0%,.5);
  box-shadow: 0 6px 0 hsla(0,0%,0%,.5),
              0 -6px 0 hsla(0,0%,0%,.5);
  pointer-events: none;
  }
